<div class="contentsWrap">
    <div class="container01">
        <div class="web_container">
            <!-- header -->
            <div class="pop_header">
                <h1>Tittle</h1>
                <button type="button" tabindex=-1 class="btn_popclose" (click)="close()"><span>close</span></button>
            </div>
            <!-- //header -->
            <div class="web_Wrap" style="white-space: normal;">

                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Name</label>
                        <input type="text" placeholder="Name" class="form-control">
                        <div class="in_box">
                            <button type="button" tabindex=-1 class="btn" tabindex=-1 tabindex=-1></button>
                        </div>
                    </div>


                </div>



            </div>

        </div>


        <div class="c_btn">
            <div class="add-close  btn-css margin-right-btn-clos" (click)="close()">
                <span>CLOSE</span>
            </div>
            <div class="iam-btn-container mbr_introContent" style="display: inline-block;">
                <button class="iam-button save">SAVE</button>
            </div>
        </div>
    </div>
</div>